@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

body {
  font-family: Raleway;
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  background-color: #4158D0;
  background-image: linear-gradient(27deg, rgba(77,255,29,1) 3%, rgba(70,252,242,1) 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 400px;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
  font-size: 75px;
  color: white;
  font-family: Raleway;
  font-weight: 800;
  position: relative;
}

.buttontext {
  color: black; /* enjoy */
  font-weight: 600;
}

.buttondisabledtext {
  color: grey; /* enjoy */
  font-weight: 600;
}

div.box {
    width: 80%;
    border-radius: 20px;
    margin: 0 auto 30 auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 10 0;
}

button.cool:hover {
    transform: scale(1.06);
    transition-duration: 0.25s;
}

button.cool:active {
    transform: scale(0.94);
    transition-duration: 0.25s;
}

button.cool {
    border: none;
    text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    margin: 5px 12px;
    text-align: center;
    cursor: pointer;
      color: #000000;
      font-family: "Raleway";
    font-size: 16px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
    outline: none;
    transition-duration: 0.25s; /*css requires transition duration on everything*/
}

button.uncool {
    border: none;
    text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    margin: 5px 12px;
    text-align: center;
      color: #000000;
      font-family: "Raleway";
    font-size: 16px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
    outline: none;
    transition-duration: 0.25s; /*css requires transition duration on everything */
    cursor: not-allowed; 
}